# Python virtual environment
tikv-venv/*
go-ycsb-bin/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local configuration
.env
